@font-face {
  font-family: 'ElektraMediumPro-Italic';
  src: url('../fonts/ElektraMediumPro-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/ElektraMediumPro-Italic.otf')  format('opentype'),
	     url('../fonts/ElektraMediumPro-Italic.woff') format('woff'), url('../fonts/ElektraMediumPro-Italic.ttf')  format('truetype'), url('../fonts/ElektraMediumPro-Italic.svg#ElektraMediumPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ElektraMediumPro';
  src: url('../fonts/ElektraMediumPro.eot?#iefix') format('embedded-opentype'),  url('../fonts/ElektraMediumPro.otf')  format('opentype'),
	     url('../fonts/ElektraMediumPro.woff') format('woff'), url('../fonts/ElektraMediumPro.ttf')  format('truetype'), url('../fonts/ElektraMediumPro.svg#ElektraMediumPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ElektraLightPro-Bold';
  src: url('../fonts/ElektraLightPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ElektraLightPro-Bold.otf')  format('opentype'),
	     url('../fonts/ElektraLightPro-Bold.woff') format('woff'), url('../fonts/ElektraLightPro-Bold.ttf')  format('truetype'), url('../fonts/ElektraLightPro-Bold.svg#ElektraLightPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ElektraLightPro';
  src: url('../fonts/ElektraLightPro.eot?#iefix') format('embedded-opentype'),  url('../fonts/ElektraLightPro.otf')  format('opentype'),
	     url('../fonts/ElektraLightPro.woff') format('woff'), url('../fonts/ElektraLightPro.ttf')  format('truetype'), url('../fonts/ElektraLightPro.svg#ElektraLightPro') format('svg');
  font-weight: normal;
  font-style: normal;
}