doctype html
html(lang="ru-RU")
	include ../common/head
	body
		div(class="wraper clearfix")
			.left-column
				include ../common/logo
				include ../common/calling
				include ../common/pictures
				include ../common/contact
			.right-column
				include ../common/slider
				include ../common/popular
				include ../common/discounted
		.footer
			include ../common/footer