.contact
	ul.contact__list
		li.list__contact
			.list-contact__address г.Москва, ул. Новая 246, офис 214.
		li.list__contact
			.list-contact__tel <a href="tel:+79213221232" class="contacts__phone">+7(921) 322-12-32</a>