.discounted-products
	.popular-products__wraper
		.popular-products__head Товары со скидкой
	.popular-products__two
		a(class="two-wraper" href="#")
			.two__img
				img.img(src="img/layer 53.png", alt="iPad")
			.two__description
				.description iPad Air WiFi 128GB-Silver
			.popular-products__features
				include features
	.popular-products__two
		a(class="two-wraper" href="#")
			.two__img
				img.img(src="img/layer 54.png", alt="iPod")
			.two__description
				.description Apple iPod nano 7G 16 GB Blue
			.popular-products__features
				include features
	.popular-products__two
		a(class="two-wraper" href="#")
			.two__img
				img.img(src="img/layer 55.png", alt="Router")
			.two__description
				.description Router WiFi Apple AirPort
			.popular-products__features
				include features