ul.popular-products__title
			li.popular-products__spec
				.spec__title Артикул
				.spec__description 42787825
			li.popular-products__spec
				.spec__title Опция
				.spec__description включена
			li.popular-products__spec
				.spec__title Цвет
				.spec__description серебристый
			li.popular-products__spec
				.spec__title Размер
				.spec__description 1280*1245*90
			li.popular-products__spec
				.spec__title Вес
				.spec__description 9 кг