div(class="footer-wraper")
		.bootom-logo
			a.header-logo-link(href="#")
			span.header-logo-text ЭпплShop
		ul.footer__about
			li.footer-about__list
				.about-shoping О магазине
				ul.about-store
					li.about-list
						a.about-link(href="#") О нас
					li.about-list
						a.about-link(href="#") Наши цены
					li.about-list
						a.about-link(href="#") Наши скидки
					li.about-list
						a.about-link(href="#") Акции
			li.footer-about__list
				.about-shoping Каталог
				ul.about-store
					li.about-list
						a.about-link(href="#") Смартфоны
					li.about-list
						a.about-link(href="#") Планшеты
					li.about-list
						a.about-link(href="#") Компьютеры
					li.about-list
						a.about-link(href="#") Аксесуары
			li.footer-about__list
				.about-shoping Контакты
				ul.about-store
					li.about-list
						a.about-link(href="#") Телефоны
					li.about-list
						a.about-link(href="#") Адреса
					li.about-list
						a.about-link(href="#") Карта проезда
					li.about-list
						a.about-link(href="#") Обратная связь
		.footer__share
			ul.about-store
				li.about-store__list
					a.share__app(href="#")
						img.share__img(src="img/Layer 23.png")
				li.about-store__list
					a.share__google(href="#")
						img.share__img(src="img/Layer 24.png")
			ul.about-social
				li.social-list.social-list__vk
					a.share-list(href="#")
				li.social-list.social-list__fb
					a.share-list(href="#")
				li.social-list.social-list__tw
					a.share-list(href="#")
		script(src="bower/jquery/dist/jquery.min.js")
		script(src="bower/qtip2/jquery.qtip.js")
		script(src="bower/jquery.bxslider/jquery.bxslider.js")
		script(src="bower/jquery-placeholder/jquery.placeholder.js")
		script(src="js/main.js")
		