.pictures
	ul.picture__list
		li.list__item
			img.item__img(src="img/Layer 39.png")
		li.list__item
			img.item__img(src="img/Layer 40.png" )
		li.list__item
			img.item__img(src="img/Layer 41.png")
		li.list__item
			img.item__img(src="img/Layer 42.png")
		li.list__item
			img.item__img(src="img/Layer 43.png")
		li.list__item
			img.item__img(src="img/Layer 44.png")
		li.list__item
			img.item__img(src="img/Layer 46.png")
		li.list__item
			img.item__img(src="img/Layer 47.png")
		li.list__item
			img.item__img(src="img/Layer 48.png")