.popular-products
	.popular-products__wraper
		.popular-products__head Популярные продукты
	.popular-products__two
		a(class="two-wraper" href="#")
			.two__pic
				img.pic__img(src="img/Layer 10.png", alt="Apple")
			.two__description Apple Thunderd Display 27'
			.popular-products__features
				include features
	.popular-products__two
		a(class="two-wraper" href="#")
			.two__pic
				img.pic__img(src="img/Layer 51.png", alt="iMac")
			.two__description iMac 27'
			.popular-products__features
				include features
	.popular-products__two
		a(class="two-wraper" href="#")
			.two__pic
				img.pic__img(src="img/Layer 52.png", alt="iPhone")
			.two__description iPhone 5s Gold
			.popular-products__features
				include features