.slider
	ul(class="slider__list")
		li(class="slider__slide-one")
			img.slide-one__slide(src="img/Layer 33.png")
			.slide-one-slide__description
				a(class="description__two" href="#") iMac за пол цены
				.description__text Принеси свой старый Mac и получи скидку на новый
		li(class="slider__slide-one")
			img.slider__two-slide(src="img/Layer 57.png")
			.slide-one-slide__description
				a(class="description__two" href="#") До 31 декабря, iPhone 4 за 9900 руб.
				.description__text Не денег на шестой iPhone? Купи себе четвертый!
		li(class="slider__slide-one")
			img.slide-three__slide(src="img/Layer 58.png")
			.slide-one-slide__description
				a(class="description__two" href="#") Конкурс на концепт iPhone 7
				.description__text Выиграй iPad Air за самый небычный и интересный дизайн нового iPhone 7.
			a(class=".bx-prev" href="#") Пред.
			a(class=".bx-next" href="#") След.
	